<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received an invite for Joia!</h1>
    <p>has invited you to join the group <%= @group.name %>!</p>
    <p>
    Joia in the Google Play Store: <%= @google_play_store_url %>.
    </p>
    Joia in the iOS App Store:: <%= @app_store_url %>.
    </p>
    Install the app and then follow this link: <%= @url %>!
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
